<h2>Chat with: </h2>
 <ul id="chat-log">

 </ul>
 <form class="new-chat" action="<%= chats_url %>" method="post" data-remote="true">
   <p><input type="text" name="chat_text" id="chat-text" autocomplete="off"></p>
   <input type="hidden" name="chat_to" value="" id="chat_to">
   <input type="submit" value="Chat &rarr;">
 </form>