
<% preview =  %>

<span>
  <!-- <marquee> -->
  <% if message.subject.length > 0 %>
  <span class="bold"><%= message.subject %> - </span>
  <% end %>
  <%= message.preview %>
  <!-- </marquee> -->
</span>