
<ul id="buttons">
  <li>
    <span id="compose">
      Compose
    </span>
  </li>
  
  <li id="more">
    More
    <ul id="dropdown">
			<li id="trash">Trash</li>
      <li id="read">Toggle Read/Unread</li>
      <li id="heart">Toggle Favorite</li>
    </ul>
  </li>
</ul>
