
<%# this is temporary will be replaced in javascript/backbone %>

<ul id="buttons">
  <li>
    <div id="trash">Trash</div>
  </li>
  <li id="more">
    More
    <ul id="dropdown">
      <li>Mark as Read</li>
      <li>Mark as Unread</li>
      <li>Add Star</li>
      <li>Remove Star</li>
    </ul>
  </li>
</ul>
