
<ul class="buttons">
	<li id="select">Select
		<ul class="buttons dropdown">
			<li id="all">All</li>
			<li id="none">None</li>
		</ul>
	</li>
	
  <li id="compose">Compose</li>
	<li id="trash">Trash</li>
  <li id="read">Read/Unread</li>
  <li id="heart">Toggle Favorite</li>
</ul>
