<ul class="buttons">

  <% inbox_count = @messages.count( %>
    <% conditions: "flags.read = false AND messages.sender_id != #{current_user.id}", %>
    <% include: :flags %>
  <% )  %>
  <li><%= link_to "Inbox", '/#' + inbox_messages_path%></li>
  <li><%= link_to "Favorited", '/#' + favorited_messages_path%></li>
  <li><%= link_to "Sent", '/#' + sent_messages_path%></li>
  <li><%= link_to "Trash", '/#' + trash_messages_path%></li>
</ul>