<section  id="menu">
  <%= render :partial => 'option_buttons' %>
</section>

<section id="main" class="group">


  <section class="group" id="sidebar">
    <%= render :partial => 'sidebar' %>
  </section>

  <section id="mailbox">

  <%= render partial: 'email_box' %>

  </section>
</section>

<section id="compose">
<%# render partial: "new_email" %>
</section>


<input type="hidden" id="user_id" value="<%= current_user.id %>">
