<form action="<%= session_url %>" method="post">

  <%= render :partial => 'layouts/authenticity' %>



  <label>User name
  <input
     id="user_username"
     name="user[username]"
     placeholder="Email"
     type="text">
     @abemail.net
   </label>

  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password"
     placeholder="Password">

  <br>

  <input type="submit" value="Log in">
</form>