<form action="<%= session_url %>" method="post">

  <%= render :partial => 'layouts/authenticity' %>



  <label for="user_username">User name</label>
  <input
     id="user_username"
     name="user[username]"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="Log in">
</form>