<div id="login-nav" class="group">
	
	<div class="img-wrap group">
		<%= image_tag "AbeMail.png" %>
	</div>
</div>

<div id="login-wrap">
	<div class="new-session">
		<%= render :partial => 'sign_in' %>
	</div>

	<div class="new-user">
		<%= render :partial => 'users/new_user' %>
	</div>
	
	<div id="toggle">
		<a href="#" >New Member? Click Here</a>
		<a class='invisible' href="#">Sign in with exisiting account</a>
	</div>
	<br>
	<div id="demo-text">
		<p>Employer? Click <%= link_to "Here", "#", id: "demo"%> for a demo!</p>
	</div>

</div>


<footer> 
	<ul>
		<li>Created by: Abe Schonfeld</li>
		<li><a href="https://github.com/abe4mvp/Gmail-Clone">Source code</a></li>
		<li><a href="https://github.com/abe4mvp/">Github</li>
		<li><a href="http://www.linkedin.com/in/abeschonfeld">LinkedIn</a></li>
		<li><a href="http://abe4mvp.github.io/">Asteroids</a></li>
		<li><a href="mailto:abe.schonfeld@gmail.com?Subject=Hello%20Abe!" target="_top">Email me</a></li>
	</ul>
</footer>

<script type="text/javascript" charset="utf-8">
	
	$('#toggle a').on('click', function(){
		toggleLogin();
	});
	
	
	var toggleLogin = function () {
		$('#toggle a').toggleClass('invisible')
		$('.login').toggleClass("invisible");
	}
	
	$("#demo").on("click", function () {
		event.preventDefault();
		var $loginForm = $(".new-session form")
		console.log()
		if ($loginForm.hasClass("invisivble")) {
			toggleLogin();
		};
		
		
		// $(".new-session form #user_email")[0].value += "employer"
		var queue3 = function () {
			$(".new-session form").trigger("submit");
		}
		
		var queue2 = function () {
			var passwordField = ".new-session form #user_password";
			simulateTyping(passwordField, "qwerty", queue3) ;
		}
		
		var emailField = ".new-session form #user_email";
		
		simulateTyping(emailField, "Employer", queue2);
		
		
		
		//
		
	})
	
	var simulateTyping = function (field, input, queueCall) {
		var $field = $(field);
		// console
		console.log(typeof(queueCall))
		var i = 0;
		var typer = setInterval(function () {
			var chr = input[i]; 
			$field[0].value += chr;
			if (++i >= input.length) {
				window.clearInterval(typer)
				console.log(queueCall);
				;
				queueCall();
			};
		}, 200);

	};
	
	
		
</script>