<h1>Sign In</h1>

<%= render :partial => 'sign_in' %>

<h1>Sign Up</h1>

<%= render :partial => 'users/new_user' %>
<br>
<br>
<h1>New Features!</h1>

<ol>
  <li>AbeMail now send and gets emails from the outside world (gmail, yahoo etc..)</li>
  <li>Mark emails as favorites</li>
  <li>View emails by folders (Inbox, Sent, Favorite, Trash)</li>
  <li>Select Multiples emails at once to send them to the trash</li>
  <li>Emails are automaticaly marked as read when you click on them</li>
  <li>Click compose to show new email form, drag the form anywhere on the screen</li>
  <li>added autocomplete to subject field of emails (needs debugging)</li>
</ol>
<br>
<h1>TODO:</h1>
<ul>
  <li>Hide new message until you click "compose"</li>
  <li>Coming soon: AbeChat! an instant messaging service from AbeMail</li>
  <li>Search and filter emails by sender, subject etc..</li>
  <li>Drag and drop emails into favorites or trash</li>
  <li>mark all as read/unread/favorite</li>
  <li>Themes! customize your AbeMail Layout</li>
  <li>Reply/Forward buttons</li>
  <li>emails with attachments</li>
</ul>