<div id="login-wrap">
	<div class="new-session">
		<%= render :partial => 'sign_in' %>
	</div>

	<div >
		<%= render :partial => 'users/new_user' %>
	</div>
	
	<div id="toggle">
		<a href="#" >New Member? Click Here</a>
		<a class='invisible' href="#">Sign in with exisiting account</a>
	</div>
	
</div>


<!-- <br>
<br>
<h1>New Features!</h1>

<ol id="new-features">
  <li>Send and recieves emails to/from any email service (gmail, yahoo etc..)</li>
  <li>Mark emails as favorites</li>
  <li>AbeChat! exchange instant messages with other AbeMail users</li>
  <li>Click the Abemail Logo to change your display theme</li>
  <li>Drag your AbeChat and New Email window anywhere on the screen</li>

</ol>
<br>
<h1>TODO:</h1>
<ul id="todo">
  <li>Search and filter emails by sender, subject etc..</li>
  <li>Drag and drop emails into favorites or trash</li>
  <li>mark all as read/unread/favorite</li>
  <li>Reply/Forward emails</li>
</ul> -->

<script type="text/javascript" charset="utf-8">
	
	$('#toggle a').on('click', function(){
		
		$('#toggle a').toggleClass('invisible')
		$('.login').toggleClass("invisible");
		
	});
		
</script>