<div id="login-nav" class="group">
	
	<div class="img-wrap group">
		<%= image_tag "AbeMail.png" %>
	</div>
</div>

<div id="login-wrap">
	<div class="new-session">
		<%= render :partial => 'sign_in' %>
	</div>

	<div >
		<%= render :partial => 'users/new_user' %>
	</div>
	
	<div id="toggle">
		<a href="#" >New Member? Click Here</a>
		<a class='invisible' href="#">Sign in with exisiting account</a>
	</div>
	
</div>


<footer> 
	<ul>
		<li>Created by: Abe Schonfeld</li>
		<li><a href="https://github.com/abe4mvp/Gmail-Clone">Source code</a></li>
		<li><a href="https://github.com/abe4mvp/">Github</li>
		<li><a href="http://www.linkedin.com/in/abeschonfeld">LinkedIn</a></li>
		<li><a href="http://abe4mvp.github.io/">Asteroids</a></li>
		<li><a href="mailto:abe.schonfeld@gmail.com?Subject=Hello%20Abe!" target="_top">Email me</a></li>
	</ul>
</footer>

<script type="text/javascript" charset="utf-8">
	
	$('#toggle a').on('click', function(){
		
		$('#toggle a').toggleClass('invisible')
		$('.login').toggleClass("invisible");
		
	});
		
</script>