<h2>Inbox:</h2>
<table class="emails" border="1">

  <% @received_messages.each do |message| %>
    <tr>
      <td><%= message.sender %></td>
      <td><%= message.subject %></td>
      <td><%= time_tag(message.created_at, format:'%B %d, %l:%M %p') %></td>
    </tr>
  <% end %>
</table>

