
<% preview = message.body.squeeze.slice(0, (150 - message.subject.length)) %>

<span>
  <% if message.subject.length > 0 %>
  <span class="bold"><%= message.subject %> - </span>
  <% end %>
  <%= preview %>
</span>