
<form class="login invisible" action="<%= users_url %>" method="post">
<h1>Sign Up</h1>

  <%= render :partial => 'layouts/authenticity' %>
  <div class="inputs">
	  
	

	  <label>Email
		  <br>
	  <input
	     id="user_email"
	     name="user[email]"
	     type="text"
	     placeholder="@abemail.net">
	     
	  </label>
	

	  <label>Password
		  <br>
	  <input
	     id="user_password"
	     name="user[password]"
	     type="password"
	     placeholder="Password">
	 </label>
	 

	  <label> Verify
		  <br>
	  <input
	     id="user_password"
	     name="user[password]"
	     type="password"
	     placeholder="Same as above">
	  </label>
	  
	  <label>Name
		  <br>
	  <input
	     id="user_name"
	     name="user[name]"
	     type="text"
	     placeholder="Who are you?">
	 </label>
  </div>
  
	<div class="submit">
		<input type="submit" value="Sign Up">
	</div>
</form>