
<%# this is temporary will be replaced in javascript/backbone %>
<div id="more-options">
  <%= button_to "Trash"%>
  More
  <ul id="dropdown">
    <li>Mark as Read</li>
    <li>Mark as Unread</li>
    <li>Add Star</li>
    <li>Remove Star</li>
  </ul>
</div>