<h2>Sent:</h2>
<table class="emails" border="1">

  <% @sent_messages.each do |message| %>
    <tr>
      <td><% recievers = message.recipients.map do |recipient|  %>
              <% recipient.email_address %>
            <% end %>
            <%= recievers.join("; ") %></td>
      <td><%= message.subject %></td>
      <td><%= time_tag(message.created_at, format:'%B %d, %l:%M %p') %></td>
    </tr>
  <% end %>
</table>
