<h2>Sent:</h2>
<ol>
  <% @sent_messages.each do |message|%>
  <li>
    <ul>
      <li>TO:<% recievers = message.recipients.map do |recipient|  %>
              <% recipient.email_address %>
            <% end %>
            <%= recievers.join("; ") %>
      </li>
      <li>Subject: <%= message.subject %></li>
    </ul>
  </li>
  <br>
<% end %>
</ol>