<h2>Sent:</h2>
<table class="emails" border="1">

  <% @sent_messages.each do |message| %>
    <tr>
      <td><%= render partial: 'messages/recipients', locals: { message: message } %></td>
      <td>
        <%= render partial: 'message_preview', locals: { message: message }%>
      </td>
      <td><%= time_tag(message.created_at, format:'%B %d, %l:%M %p') %></td>
    </tr>
  <% end %>
</table>
