<section  id="menu">
  <%= render :partial => 'option_buttons' %>
</section>

<section id="main" class="group">


  <section class="group" id="sidebar">
    <%= render :partial => 'sidebar' %>
  </section>

  <section id="mailbox">

  <%= render partial: 'email_box' %>

  </section>
</section>

<section id="compose">
<%# render partial: "new_email" %>
</section>

<script>
$(function (event) {

  var $mailBox = $('#mailbox')

  $('#sidebar').on('ajax:success', 'a', function (event, data) {
    event.preventDefault();
    console.log(data);
    $mailBox.html(data)
  })
})


</script>