<section id="main" class="group">


  <section  id="menu">
    <%= render :partial => 'option_buttons' %>
  </section>

  <section class="group" id="sidebar">
    <%= render :partial => 'sidebar' %>
  </section>

  <section id="mailbox">
  <%= render :partial => 'inbox' %>


  <%= render :partial => 'sent_box' %>
  </section>
</section>

<section id="compose">
<%# render partial: "new_email" %>
</section>
