<% var redClass = message.get('flags').get('heart') === true ? 'red' : "" %>
<header><%= message.escape('subject') %>
  <div class="heart <%= redClass %>">
  <span class="heart-box">
    ♥
  </span>
  </div>
</header>
<br>
<article>
  <%= message.get('body') %>
</article>