/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*reset css defaults*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration:none;
  color:inherit;
}

/*global helper method*/
.group:after {
  clear: both;
  content: "";

}
// body  

body {
  background-color:white;
  color:white;
  font-family:sans-serif;
  
	background-size:100%;

}


.header-wrap img:hover {
	cursor:pointer;
	
}


.emails {
  font-size:12px;
  color:#fbfbfb;
  width:100%;
  border-width: 1px;
  border-color: #686767;
  border-collapse: collapse;
  float:right;
  margin:10px;

}

.check{
  width: 20px;
}

.heart {
  width: 20px;
  color:gray;
  cursor:pointer;
  
}

.red {
  color:red;
}



.heart:hover {
  font-size:19px;
  line-height:2px;
  margin:auto;


}


.time-tag {
  width: 60px;
  text-align:right;
}

.from, .to {
  width:200px;
}
.preview {
  overflow:hidden;
  min-width:200px;

  height:40px;
}


.bold {
  font-size:1.3em; // change to px
}



.emails tr {
  background-color:#171515;
  height:40px;
  opacity:.8;
}
.emails td {
  font-size:14px;
  border-bottom: 1px;
  padding: 6px;
  border-style: solid;
  border-color: #686767;

  height:20px;
}
.emails tr:hover {
  background-color:#565656;
}

.emails .unread {
  font-weight:bold;
  background-color:#2f2f2f;
}




// top bar


.header-wrap {
  width:100%;
  height:60px;
  min-width:760px;
}

.header-wrap img {
  height:50px;
  width:auto;
  margin:10px 20px 0 20px;
  float:left;
}

#search {
  width:30%;
  min-width:300px;
  height:30px;
  font-size:12px;
  margin-top:12px;
}

.header-right {
  float:right;
}

.header-right li {
  float:left;
}

.header-right {
  float:right;
}

.header-right li {
  float:left;
}

.header-right li {
	text-align:center;
	font-height:auto;
	margin-top:12px;
	margin-right:20px;
}

//page

#main {
  width:100%;
  padding:5px;
  margin:auto;
  height:100%;
  width:100%;
  min-width:1350px;

}



#sidebar {
  float:left;
  width:170px;
  height:100%;
  padding:10px 0px 10px 5px;
	margin-right:20px;
}

#sidebar li{
  margin:2px;
  width:140px;
  padding:10px 5px 10px 10px ;
  
   
}

.buttons li:hover {
  opacity: 1;
  /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

#mailbox {
  float:left;

  min-width:550px;
  width:1150px;
}

//menu

#menu {
  display:block;
  width:100%;
  height:40px;
  padding-left:230px;
  
}

#select {
  position: relative;

}
#selct:active {
	top:-3px;
}


#select:hover  > .dropdown {
  display: block;
}



.buttons.dropdown {
  display: none;
  position: absolute;
  color: black;
  width: 60px;
  z-index:1;

}

#select .dropdown li{
  margin:0;
  width:60px;
  background-color: blue;
	text-align:center;
  
}


//compose

.invisible {
  display:none;
}

#new-email {

  position:fixed;
  bottom:20px;
  right:20px;
  width:600px;
  #new-email-wrap {
    padding:6px;
    border-radius:10px;
    background:linear-gradient(to bottom right, rgb(200,0,0), rgb(40,0,0));
  }
  p * {
    cursor:pointer;
    margin:-1px 0 2px 5px;
  }

}


#new-email:active,  {
  cursor:move;
}


#new-email form {
  position:relative;


}


#new-email h2 {
//  background-color: red;
  padding:3px 0 2px 7px;
  font-size:20px;
}

#new-email textarea {
  width:98%;
  margin:auto;
  border:3px groove red;
}

#new-to, #new-subject {
  width:98%;
  margin:auto;
  height:20px;
  border:3px groove red;

}

#chat {
  position:fixed;
  border-radius:10px;
  background:linear-gradient(to bottom right, rgb(200,0,0), rgb(40,0,0));
  top:300px;
  left:20px;
  width:260px;

}

#chat h2 {
  padding:2px;

}

#chat [type=text] {
  width:240px;

}

#chat p {
  margin:auto;
  width:95%;
  padding:3px 0 6px 0;

}



#chat [type=submit] {
  //display:none;
  margin:auto;
}



#chat-log {
  background:white;
  overflow-y:scroll;
  max-height:180px;
  min-height:20px;
  width:95%;
  margin:auto;

}

#chat-log li {
  border-radius:9px;
  padding:3px;
  display:block;

}

#chat-log li:after {
  content:"";
  clear:both;
  display:table;
}

#chat-log span {
  border-radius:9px;
  padding:2px 7px;
  max-width:70%;
  min-height:17px;

}

.me span{

  background:red;
  float:right;

}

.them span{
  background:#FF6600;
  float:left;
}


/// login page
//reset input styling
#login-wrap input {
	-webkit-appearance: none;
	display: inline-block;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: auto;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: inherit;
}

#login-wrap * {
	color:black;
}



.login {
  width: 290px;
  margin:0;
  padding: 20px;
  background: white;
  border-radius: 5px;
  height:100%;
  background:lightgray;
}

.login h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.0;
  color:black;
  text-align:center;
}


#login-wrap{
	
	max-height:450px;
	width:330px;
   	top:20%;
    margin-left:auto;
    margin-right:auto;
	
	input[type="submit"] {
	  display: inline;
	  cursor: pointer;
  
	}
	
	input {
		margin:5px 0;
		width:100%;
	}
	
	label {
		display:block;
		font-weight:bold;
	}
	
	.submit > input {
	  position: relative;
	  display: inline-block;
	  padding: 8px 3px;
	  font-weight: bold;
	  background: blue;
	  box-shadow: 0 3px 0 0 darkblue;
	  border-radius: 5px;
	  color:white;
	  
	}
	
	.submit > input:hover {
	  background: blue;
	}

	.submit > input:active {
	  top: 3px;
	  box-shadow: none;
	  background: darkblue;
	}
	
	.inputs input {
	  display: inline-block;
	  border: 3px solid black;
	  padding: 8px 0;
	  border-radius: 5px;
	  background:white;
	}
	
	.inputs input:focus {
		border-color:green;
	}
	.inputs {
		margin:auto;
	}
	
	
} 

#toggle {
	text-align:center;
}


#login-nav {
	margin:auto;
	width:100%;
	
	.img-wrap {
		margin-right:auto;
		margin-left:auto;
		display:block;
		width:554px;
	}
	
	img {
	    height:150px;
	    width:auto;
		
		
		
	}
}

//buttons

.buttons {
  display: block;
	
	li {
  cursor:pointer;
	position:relative;
	border:2px solid white;
	border-radius:5px;
	font-weight:bold;
  /*Transition*/

	}	
	
	li:hover {
	  -webkit-box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.8);
	  -moz-box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.8);
	  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.8);
		
	}
	
	li:active {
	  -webkit-box-shadow:none;
	  -moz-box-shadow:none;
	  box-shadow:none;
		top:3px;

	}
  
}

#menu li {
  float:left;
	display:inline-block;
	padding: 5px 0;
	margin: 0 10px;
	
}

.buttons li {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.heart {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s easet;
  -o-transition: all .5s ease;
}










