// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.emails {
  font-size:12px;
  color:#fbfbfb;
  width:90%;
  border-width: 1px;
  border-color: #686767;
  border-collapse: collapse;
}



.emails tr {
  background-color:#171515;
}
.emails td {
  font-size:12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #686767;
}
.emails tr:hover {
  background-color:#565656;
}

.emails .unread {
  font-weight:bold;
  background-color:#2f2f2f;
}






#more-options:hover  {
  position: relative;

}
#more-options {
  display: block;
}

#more-options:hover  > #dropdown {
  display: block;
}


#dropdown {
  display: none;
  position: absolute;
  color: black;
  width: 260px;

}

#dropdown li{
  border-bottom: 3px solid black;
  width: 240px;
  background: white;
  border-right: 3px solid black;
}

#dropdown li:nth-child(odd){
  background:gray;
}


