<div class="header-wrap group">

		<%= image_tag "AbeMail.png" %>
    <input type="text" name="search" placeholder="What are you looking for?" id="search">
    <input type="submit" value="Search">

    <ul class="header-right group">
      <li id="current-username"><%= current_user.name %></li>
      <li><%= button_to "Logout", session_url, :method => :delete %></li>
    </ul>

</div>